.header {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 940px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 30px;
  width: auto;
}
