@import "./variables.scss";

.contentStyle {
  line-height: 1.875;
  padding-bottom: 7rem;
  color: $text-color;
  margin-top: 32px;
  letter-spacing: 1.6px;

  p {
    margin-bottom: 1.25rem;

    & > code {
      padding: 0.25rem 0.5rem;
      overflow-wrap: break-word;
      @include font-code;
      background-color: rgba(134, 138, 147, 0.2);
    }

    a:not([data-fancybox]) {
      overflow-wrap: break-word;
      transition: all 0.25s ease;
      color: #2563eb;
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $main-color;
        border-radius: 1px;
        z-index: -1;
        position: absolute;
        bottom: 4px;
        left: 0;
        transition: height 0.35s ease;
      }

      &:hover {
        &::after {
          height: 8px;
        }
      }
    }
  }

  h1,
  h2,
  h3 {
    margin-bottom: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 3.75rem;
    color: $title-color;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  .code-toolbar,
  ul,
  ol,
  .wp-block-image,
  .wp-block-columns {
    margin: 1.5rem 0;
  }

  .code-toolbar {
    & > .toolbar {
      // @apply bg-second text-text font-code;
      color: $text-color;
      @include font-code;
    }
  }

  pre {
    @apply my-8 small:px-8;

    code {
      @include font-code;
    }
  }

  ol,
  ul {
    padding-left: 2rem;
  }

  ul > li {
    list-style: disc;
  }

  ol > li {
    list-style: decimal;
  }

  blockquote {
    border-color: $main-color;
  }

  figure {
    @apply my-8 flex justify-center;
  }

  hr {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 3.75rem 0;
    overflow: visible;
    background-color: $title-color;
    border-style: none;
    border-width: none;

    &::before {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      left: -1rem;
      display: inline-block;
      background-color: $title-color;
    }

    &::after {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      display: inline-block;
      right: -1rem;
      background-color: $title-color;
    }
  }
}
